@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background-color: #fff;
  font-family: "Nunito", sans-serif;
  color: #5b5766;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
}
ul {
  list-style: none;
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  color: #554d89;
  font-weight: bold;
  font-style: normal;
}
.divider {
  width: 1920px;
  border: none;
  border-bottom: 1px solid #e1e4ed;
}
.wrapper {
  width: 1140px;
  margin: 0 auto;
}
.btn {
  border: none;
  text-decoration: none;
  border-radius: 4rem;
  font-family: "Poppins", sans-serif;
  border: 1px solid #6852ed;
  cursor: pointer;
}
.btn-light {
  height: 4rem;
  padding: 1rem 3rem;
  background-color: transparent;
  color: #6852ed;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.btn-dark {
  height: 5rem;
  padding: 1.3rem 3rem;
  background: linear-gradient(26.57deg, #6852ed 16.67%, #ba43fc 100%);
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.link {
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: #554d89;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
.link:hover {
  text-shadow: 0 0 1px #554d89;
}
.link-arrow::after {
  content: "\f30b";
  font-family: FontAwesome;
  margin-left: 1.5rem;
}
.top-header {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 0 1.7rem;
  font-size: 1.6rem;
  color: #716c80;
}
.top-header__phone {
  text-decoration: none;
  color: inherit;
}
.top-header__phone:hover {
  text-decoration: underline;
}
.top-header__phone::before {
  content: "\f87b";
  font-family: FontAwesome;
  margin-right: 0.8rem;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
}
.header-navbar {
  display: flex;
  align-items: center;
}
.header-actions {
  align-self: center;
}
.header-navbar__logo {
  display: block;
  margin-right: 4rem;
}
.header-navbar__menu {
  display: flex;
  /*   margin: 1.8rem 0; */
}
.header-navbar__menu-item {
  margin-right: 3rem;
  position: relative;
  padding: 1.8rem 0;
}
.header-navbar__menu-item:last-child {
  margin-right: 0;
}
.header-navbar__submenu {
  display: none;
  position: absolute;
  top: 5.9rem;
  left: -2rem;
  padding: 2rem;

  box-shadow: 0px 0px 20px #e1e4ed;
  border-radius: 10px;
  background: #fff;

  width: 23.5rem;
  height: 20.5rem;
}
.header-navbar__submenu > .header-navbar__menu-item {
  padding: 0;
  margin-bottom: 1rem;
}
.header-navbar__submenu
  > .header-navbar__menu-item.header-navbar__menu-item:last-child {
  margin-bottom: 1rem;
}

.header-navbar__menu-item:hover .header-navbar__submenu {
  display: block;
}
.header-navbar__menu-item-link {
  color: #5b5766;
  font-size: 1.6rem;
  text-decoration: none;
}
.header-navbar__menu-item-link:hover {
  color: #554d89;
  text-shadow: 0 0 1px #554d89;
}
.header-navbar__menu-item-link_active {
  color: #554d89;
  font-weight: bold;
}
.header-actions__text {
  display: inline-block;
  margin: 0 0.8rem;
}
.hero {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.hero__content {
  position: relative;
  top: -14rem;
  margin-right: 2.4rem;
}
.hero__content-title {
  font-size: 50px;
  line-height: 60px;
  margin: 3.2rem 0;
}
.hero__content-text {
  font-size: 2.2rem;
  line-height: 3.3rem;
  margin-bottom: 4rem;
}
.hero-img {
  margin-right: -4.2rem;
}
.hero__content__action .btn-dark {
  margin-right: 3rem;
}
.btn-down {
  position: absolute;
  bottom: 5rem;
  left: 45%;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  background: #6852ed;
  display: flex;
  color: #fff;
  text-decoration: none;
}
.btn-down > i {
  margin: auto;
  font-size: 5rem;
  line-height: 5rem;
}
.services {
  margin-top: 9.3rem;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.infoblock {
  width: 36rem;
  box-shadow: 0px 0px 20px #e1e4ed;
  border-radius: 10px;
  background-color: #fff;
  padding: 3rem;
}
.infoblock:hover {
  background: linear-gradient(26.57deg, #6852ed 16.67%, #ba43fc 100%);
  box-shadow: 0px 0px 20px rgba(104, 82, 237, 0.8);
  border-radius: 10px;
  color: #fff;
}
.infoblock .fas {
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: #6852ed;
  margin-bottom: 3rem;
}
.infoblock__title {
  font-size: 2.2rem;
  line-height: 3.3rem;
  margin-bottom: 1.9rem;
}
.infoblock__text {
  line-height: 2.8rem;
  color: #716c80;
}
.infoblock__link {
  display: none;
  color: #fff;
}
.infoblock:hover .fas {
  display: none;
}
.infoblock:hover .infoblock__title {
  color: #fff;
  margin: 3.4rem 0 2rem;
}
.infoblock:hover .infoblock__text {
  color: #fff;
}
.infoblock:hover .infoblock__link {
  display: inline-block;
  margin-top: 3rem;
}
.split-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12rem;
}
.split-section-img {
  margin-left: -7.8rem;
  margin-right: 6.6rem;
}
.split-section__content-title {
  font-size: 2.8rem;
  line-height: 4.2rem;
  margin-bottom: 3.1rem;
}
.split-section__content-text {
  line-height: 2.8rem;
  color: #716c80;
  margin-bottom: 4.8rem;
}
.split-section .btn {
  margin-right: 3rem;
}

.split-section_reverse {
  margin-top: 12rem;
  flex-direction: row-reverse;
}
.split-section-img_reverse {
  margin-left: 7.2rem;
  margin-right: -8.2rem;
}
.video {
  background-image: url(../img/video_background.png);
  width: 192rem;
  height: 48rem;
  margin: 12rem auto 0;
}
.video__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video__content-btn {
  background: linear-gradient(26.57deg, #6852ed 16.67%, #ba43fc 100%);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  text-decoration: none;
  margin-top: 14rem;
}
.video__content-btn > i {
  color: #fff;
  font-size: 3rem;
  margin: auto;
}
.video__content-title {
  font-size: 2.8rem;
  line-height: 4.2rem;
  margin: 2.4rem 0 1.9rem;
}
.video__content-text {
  width: 41rem;
  line-height: 2.8rem;
  text-align: center;
  margin: 0;
}
.section-all-services {
  width: 114rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.services-vertical {
  width: 80rem;
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.section-all-services__content {
  width: 34rem;
}
.services-vertical > .infoblock {
  margin-bottom: 3rem;
}
.services-vertical > .infoblock:nth-child(even) {
  margin: 3rem 0 0 3rem;
}
.section-all-services__content-title {
  font-size: 3.4rem;
  line-height: 4.6rem;
  margin: 3rem 0;
}
.section-all-services__content-text {
  line-height: 2.8rem;
  color: #716c80;
  margin: 0 0 6rem 0;
}
.skills {
  margin-top: 14rem;
  display: flex;
  justify-content: start;
}
.skills__contant {
  width: 55.4rem;
  margin-right: 3.1rem;
}
.skills__contant-title {
  font-size: 3.4rem;
  line-height: 4.4rem;
  margin: 0 0 3.2rem 0;
}
.skills__contant-text {
  line-height: 2.7rem;
  color: #716c80;
  margin-bottom: 7.7rem;
}
.skills__bar-container {
  width: 55.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.skills__bar {
  display: flex;
  justify-content: space-between;
}
.skills__bar-text {
  line-height: 27px;
  margin: 0 0 -0.3rem 0;
}

.skills__bar-section {
  margin-top: 3rem;
  width: 55.5rem;
  background-image: url(../img/bar-progress.png);
  background-repeat: no-repeat;
  background-position: 0 87%;
  opacity: 0.9;
}
.skills__bar-section:first-child {
  margin-top: 0;
}
.call-section {
  width: 192rem;
  height: 17rem;
  margin: 14rem auto 0;
  background-image: url(../img/call-section-bg.png);
}
.call-section_contant {
  width: 114rem;
  height: inherit;
  margin: 0 39rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.call-section_contant-text {
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #554d89;
  font-weight: 600;
}
.price-section {
  margin-top: 14rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-section__content {
  background: #ffffff;
  box-shadow: 0px 0px 20px #e1e4ed;
  border-radius: 10px;
  width: 36rem;
  height: 61.6rem;
  padding: 6rem 7.1rem 6rem 5.9rem;
}
.price-section__content__price {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.price-section__content__price-text-strong {
  font-weight: bold;
  color: #554d89;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 3rem;
}

.price-section__content__price-text-large {
  font-weight: bold;
  color: #554d89;
  font-size: 5rem;
  line-height: 6rem;
  margin-bottom: 1rem;
}
.price-section__content__price-text-small {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #5b5766;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-bottom: 6rem;
}
.price-section__content__scroll {
}
.price-section__content__scroll-text {
  width: 24rem;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #716c80;
  margin: 1rem 0;
}
.price-section__content__scroll-text::before {
  content: "\f00c";
  font-family: FontAwesome;
  margin-right: 1rem;
}

#cross:before {
  content: "\f00d";
  font-family: FontAwesome;
  margin-right: 1rem;
  color: rgb(193, 99, 99);
  font-weight: lighter;
}

.price-section__content__scroll-text:last-child {
  margin-bottom: 6rem;
}
.support-section {
  margin-top: 14rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.support-section_items {
  width: 55.5rem;
}
.support-section_items > i {
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: #6852ed;
  float: left;
  padding: 0 3rem 15.8rem 0;
}
.support-section_items-title {
  margin: 0 0 2rem 0;
  font-size: 2rem;
  line-height: 3rem;
}
.support-section_items-text {
  margin: 0 0 2.8rem 0;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #716c80;
}
